body
{
  	background: url(https://i35.servimg.com/u/f35/17/50/72/54/screen11.png) no-repeat center/cover ;
    height: 100vh ;
      width: 100%;
}


h2{	color: white;
	font-family: monospace;
	text-align: center;}

	
.background{table-layout: fixed;
	border-spacing: 0;}
	
	
.background td {padding: 0;}
	

.lava, .actor {	background: red;}


.wall{background: #444;
	border: solid 3px #333;
	box-sizing: content-box;
	}
	
.actor{	position: absolute;}

	
.coin{background: url(./moneda.png) no-repeat;
  background-size: 15px;

	border-radius: 50%;}
	
	
.player{	background: darkgreen;
	box-shadow: none; 
 

}

	
.lost .player {background: rgb(160, 64, 64);}
	

.won .player {background: green;
	}
	
.game{position: relative;
	overflow: hidden;}
	
	